<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<!-- The router-outlet will display whatever component the user requests.
The links above, for example, allow the user to request the Dashboard or Heroes components.
But within either of those components, the user can click a hero name and the HeroesDetail component will show.
-->
<router-outlet></router-outlet>
<app-messages></app-messages>
